body {
  background-image: url("../assets/images/lfz-background.jpg");
  height: 97vh;
}

header {
  width: 100%;
  text-align: center;
}

aside {
  flex: 2;
}

main {
  flex: 10;
}

/* .flex-grid {
  display: flex;
  flex-wrap: row wrap;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} */

.flex-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
}

.card {
  /* flex: 2; */
  background-image: url("../assets/images/lfz-card.jpg");
  height: 19vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 5px 10px 5px 10px;
}

.stats {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.games-played {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.num1 {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.attempts {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.num2 {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.accuracy {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}

.num3 {
  background-color: rgb(135, 206, 235);
  text-align: center;
  padding: 15px 10px 15px 10px;
  margin: 15px 10px 15px 10px;
}
