.container {
  width: 100%;
  max-width: 1500px;
  margin: auto
}

.row {
  width: 100%;
  display: flex;
  margin-bottom: .5rem;
  /* flex-wrap: wrap; */
}

.col-1 {
  width: 8%;
}

.col-2 {
  width: 16%;
}

.col-3 {
  width: 24%;
}
