body {
  background-image: url("../images/lfz-background.jpg");
  height: 97vh;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  width: 100%;
  text-align: center;
}

aside {
  padding-right: 10px;
}

main {
  height: 100%;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-evenly;
  padding-top: 1rem;
}

#gameCards {}

.card {
  background-image: url("../images/lfz-card.jpg");
  height: 26vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 15%;
  position: relative;
  margin: 0 auto .5rem;
}

.card-front, .card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 15%;
  position: absolute;
}

.card-back {
  background-image: url('../images/lfz-card.jpg')
}

.css-logo {
  background-image: url('../images/css-logo.png');
}

.docker-logo {
  background-image: url('../images/docker-logo.jpg');
}

.gitHub-logo {
  background-image: url('../images/gitHub-logo.png');
}

.html-logo {
  background-image: url('../images/html-logo.png');
}

.js-logo {
  background-image: url('../images/js-logo.png');
}

.mysql-logo {
  background-image: url('../images/mysql-logo.jpg');
}

.node-logo {
  background-image: url('../images/node-logo.png');
}

.php-logo {
  background-image: url('../images/php-logo.jpeg');
}

.react-logo {
  background-image: url('../images/react-logo.png');
}

/* Stats Information */

aside>div {
  margin: 1rem;
  width: 90%;
  height: 10vh;
  background-color: rgb(135, 206, 235);
  display: flex;
  justify-content: center;
  align-items: center;
}

.stats {}

.games-played {}

.num1 {}

.attempts {}

.num2 {}

.accuracy {}

.num3 {}

.hidden {
  display: none;
}
