body {
  background-image: url("../images/logo/blue-universe-956981.jpg");
  height: 97vh;
  background-size: cover;
  background-repeat: repeat;
  font-family: "Lucida Console", Monaco, monospace;
}

header {
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
}

.main-title {
  color: white;
  text-shadow: 2px 2px 3px turquoise;
}

aside {
  padding-right: 10px;
  text-align: center;
  position: relative;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-image: url("../images/logo/blue-universe-956981.jpg");
  background-color: black;
  height: 28vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 15%;
  position: relative;
  margin: 0 auto .5rem;
}

.card-front {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 15%;
  position: absolute;
}

.card-back {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  flex-basis: 15%;
  position: absolute;
}

.card-back {
  background-image: url('../images/lfz-card.jpg')
}

.card-back:hover {
  -ms-transform: scale(1.2);
  /* IE 9 */
  -webkit-transform: scale(1.2);
  /* Safari 3-8 */
  transform: scale(1.2);
}

.netflix {
  background-image: url('../images/logo/netflix.png');
}

.netflix:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.disney {
  background-image: url('../images/logo/disney_plus.png');
}

.disney:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.hbo {
  background-image: url('../images/logo/hbo_now.jfif');
}

.hbo:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.amazon {
  background-image: url('../images/logo/amazon_prime.jpg');
}

.amazon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.hulu {
  background-image: url('../images/logo/hulu.jpg');
}

.hulu:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.thanos {
  background-image: url('../images/logo/thanos.jpg');
}

.thanos:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.youtube {
  background-image: url('../images/logo/youTube_red.jpg');
}

.youtube:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.cbs {
  background-image: url('../images/logo/cbs.jpg');
}

.cbs:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

.anime {
  background-image: url('../images/logo/animation.jpg');
}

.anime:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* Stats Information */

aside>div {
  margin: 1rem;
  width: 90%;
  height: 10vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: white;
  text-shadow: 2px 2px 3px turquoise;
}

.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-content {
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(89, 172, 245, .8);
  width: 25%;
  font-size: larger;
  padding: 50px;
}

#resetButton {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  width: 50%;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

#resetButton:hover {
  background: #1C6EA4;
}

#resetButton:active {
  background: #144E75;
}

.modal-overlayEnd {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.modal-contentEnd {
  text-transform: uppercase;
  text-align: center;
  background-color: rgba(89, 172, 245, .8);
  width: 25%;
  font-size: larger;
  padding: 50px;
}

#restart {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  width: 50%;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

#restart:hover {
  background: #1C6EA4;
}

#gameOver {
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height: 16px;
  width: 50%;
  padding: 6px;
  border-radius: 10px;
  font-family: Georgia, serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
  box-shadow: rgb(0, 0, 0) 5px 5px 15px 5px;
  border: 2px solid rgb(28, 110, 164);
  display: inline-block;
}

#gameOver:hover {
  background: #1C6EA4;
}

#gameOver:active {
  background: #144E75;
}

/* ------------------------------ */

.hidden {
  display: none;
}
